#home
  %h1 API With Rails
  %p By WOAPI team @ OCTO Technology
  %p
    See repository on Github:
    = link_to 'https://github.com/octo-woapi/api-with-rails', 'https://github.com/octo-woapi/api-with-rails'
  %p
    Available endpoints:
    %ul
      %li
        GET 
        = link_to api_v1_products_url, api_v1_products_url
      %li
        GET 
        = link_to api_v1_product_url(Product.last), api_v1_product_url(Product.last)
      %li
        POST 
        = api_v1_products_url
      %li
        PUT 
        = api_v1_product_url(Product.last)
