#home
  %h1 API With Rails
  %p By WOAPI team @ OCTO Technology
  %p
    See repository on Github:
    = link_to 'https://github.com/octo-woapi/api-with-rails', 'https://github.com/octo-woapi/api-with-rails'
  %p
    Available endpoints:
    %ul
      %li
        Products
        %ul
          %li
            GET 
            = link_to api_v1_products_url, api_v1_products_url
          %li
            POST 
            = api_v1_products_url
          - product = Product.order("RANDOM()").first
          - if product
            %li
              GET 
              = link_to api_v1_product_url(product), api_v1_product_url(product)
            %li
              PUT 
              = api_v1_product_url(product)
            %li
              DELETE 
              = api_v1_product_url(product)
          - else
            %li
              GET /products/:id
            %li
              PUT /products/:id
            %li
              DELETE /products/:id
      %li
        Orders
        %ul
          %li
            GET 
            = link_to api_v1_orders_url, api_v1_orders_url
          %li
            POST 
            = api_v1_orders_url
          - order = Order.order("RANDOM()").first
          - if order
            %li
              GET 
              = link_to api_v1_order_url(order), api_v1_order_url(order)
            %li
              PUT 
              = api_v1_order_url(order)
            %li
              DELETE 
              = api_v1_order_url(order)
          - else
            %li
              GET /orders/:id
            %li
              PUT /orders/:id
            %li
              DELETE /orders/:id
      %li
        Bills
        %ul
          %li
            GET 
            = link_to api_v1_bills_url, api_v1_orders_url
          - bill = Bill.order("RANDOM()").first
          - if bill
            %li
              GET 
              = link_to api_v1_bill_url(bill), api_v1_bill_url(bill)
          - else
            %li
              GET /orders/:id
